<footer class="footer bg-white relative pt-1 border-b-2 border-blue-700">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mb-2 text-2xl">SORMEH</span>
                    <span class="my-2"><a routerLink="/signup" class="text-blue-400  text-md hover:text-blue-500">signup free</a></span>
                    <span class="my-2"><a routerLink="/login" class="text-blue-400  text-md hover:text-blue-500">login</a></span>
                    <span class="my-2"><a routerLink="/cart" class="text-blue-400  text-md hover:text-blue-500">shopping cart</a></span>
                </div>
             
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d232.00964375838507!2d50.973473822032474!3d35.84833674530836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dbf21ae1838a9%3A0xb218296cbebfba44!2z2YXYp9mG2KrZiCDYs9ix2YXZhw!5e0!3m2!1sen!2sus!4v1660573419243!5m2!1sen!2sus" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">google adress</iframe>

             
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-blue-400 font-bold mb-2">
                    © 2022 iran karaj
                   
                  
                </p>
            </div>
        </div>
    </div>
</footer>
