<div class="bg-cover w-full bg-center mt-8 h-72 "
    style="background-image: url(assets/pic/photo-1578932750294-f5075e85f44a.jpeg);"></div>
 
<div class="w-full flex justify-center mt-4">
    <button class="fixed top-80 right-4 p-1 bg-gray-200 rounded-xl boolder " (click)="show = !show">{{show ? '>' : '<'}}</button>
    <div *ngIf="show" class=" flex flex-col fixed right-0	bottom-12"><span class="p-2 bg-gray-200 text-center cursor-pointer rounded-xl"
        *ngFor="let tag of  tagsCloth let i=index" (click)="tagClick(tag.id)"
[ngClass]="{'bg-red-300':selectedTags.lastIndexOf(tag.id) >= 0}">{{tag.title}}</span> <button class="bg-green-300  rounded-xl" (click)="setFilter()" >Apply</button></div>
    <div class="  flex flex-wrap max-w-screen-xl justify-center">
        <div *ngFor="let pic of filterList let i=index">
            <a [routerLink]="['/detail',pic.id]">
                <div class="bg-cover w-44  h-60 m-1 rounded-lg" style="background-image: url({{pic.images[0]}});">
                    {{pic.title}}

                </div>
            </a>
            <div class="flex justify-center">
                <div *ngFor="let dot of pic.images let l=index"> <span (click)="showingImg(l,i)"
                        class="text-gray-400 mx-3 font-bold cursor-pointer"
                        [ngClass]="{'text-black text-xl font-black':l ===  currentIndex[i]}"> .</span></div>



            </div>
        </div>
    </div>

</div>