<div class="bg-cover w-full bg-center mt-8 h-72 bg-gray-100"
    style="background-image: url(assets/pic/photo-1578932750294-f5075e85f44a.jpeg);"></div>
    <div  class=" flex lg: justify-evenly  md: flex-wrap "><button class=" bg-green-300  rounded-xl transform hover:-translate-y-1 hover:scale-110  p-2 rounded-2xl w-16" (click)="setFilter()" >فیلتر</button> <span class="w-28 h-8 bg-gray-200 text-gray-400 text-center cursor-pointer rounded-xl hover:text-black md:text-xs lg:text-xl	"
        *ngFor="let tag of  tagsCloth let i=index" (click)="tagClick(tag.id)"
[ngClass]="{'bg-red-300':selectedTags.lastIndexOf(tag.id) >= 0}">{{tag.title}}</span> <p> به دلخواه خود فیلتر کنیید</p></div>
<div class="w-full flex justify-center mt-4">
   
    <div class="  flex flex-wrap max-w-screen-xl justify-center mt-4">
        <div *ngFor="let pic of filterList let i=index">
            <a [routerLink]="['/detail',pic.id]">
                <div class="bg-cover  m-1 rounded-lg md: w-44 h-56 lg:w-60 h-64" style="background-image: url({{currentImge[i]}});">
                 
                  <div id="parent" class="flex flex-col justify-between  w-full h-full  ">
                      <div id="child" class=" flex justify-between   invisible  ">   {{pic.title}}
                          <span *ngFor="let size of pic.size">{{size}}</span></div>
                          <span id="child" class="bg-gray-100 text-center">{{pic.price}}</span>
                        </div>
                         
                </div>
            </a>
            <div class="flex justify-center">
                <div *ngFor="let dot of pic.images let l=index"> <span (click)="showingImg(l,i)"
                        class="text-gray-400 mx-3 font-bold cursor-pointer"
                        [ngClass]="{'text-black text-xl font-black':l ===  currentIndex[i]}"> .</span></div>



            </div>
        </div>
    </div>

</div>