<div class="bg-cover w-full bg-center mt-8 h-72 "
    style="background-image: url(assets/pic/photo-1578932750294-f5075e85f44a.jpeg);"></div>
<div class="w-full h-8 flex justify-between"><span class="p-2 bg-gray-200 cursor-pointer rounded-xl"
        *ngFor="let tag of  tagsCloth let i=index" (click)="tagClick(tag.id)"
        [ngClass]="{'bg-red-300':selectedTags.lastIndexOf(tag.id) >= 0}">{{tag.title}}</span></div>
<div class="w-full flex justify-center mt-4">
    <div class="  flex flex-wrap max-w-screen-xl justify-center">
        <div *ngFor="let pic of connector let i=index">
            <a [routerLink]="['/detail',i]">
                <div class="bg-cover w-44  h-60 m-1 rounded-lg" style="background-image: url({{currentImge[i]}});">
                    {{pic.title}}

                </div>
            </a>
            <div class="flex justify-center">
                <div *ngFor="let dot of pic.images let l=index"> <span (click)="showingImg(l,i)"
                        class="text-gray-400 mx-3 font-bold cursor-pointer"
                        [ngClass]="{'text-black text-xl font-black':l ===  currentIndex[i]}"> .</span></div>



            </div>
        </div>
    </div>
</div>