#card{
    width: 50%;
    height: 100%;
    background-size: cover;
    border-radius: 1em;
    position: relative;
    margin-left: 1em;
}
#parentDetail{
    width: 100%;
    height: 100vh;
    display: flex;
 
}
#detail{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;

}
#btn{
    border: 1px solid grey;
    padding: 1em;
    border-radius: .5em;
    cursor: pointer;
    margin: .2em;
    
}
.bgbtn{
    background-color: rgb(197, 136, 136);
}
